<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velkommen</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
</head>

<body class="frontpage-background">

<div th:replace="~{fragments/header.html :: header}"></div>

<div class="content">
    <div th:if="${cars.size()<10}">
        <div class="carsAlertDiv" th:if="${user.getUserType() == 'Forretningsudvikler'}">
            <span class="closebutton" onclick="this.parentElement.style.display='none';" th:value="${warning}">&times;</span>
            Der er færrere end 10 biler på lager!
        </div>
    <div class="container">
        <h1>Økonomisk Oversigt</h1>

        </div>


</div>
</div>

</body>
</html>