<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>
<div class="content">
    <div class="container">
        <h1>Opret Lejekontrakt</h1>
        <form action="#" th:action="@{/rentalAgreements/create}" th:object="${rentalAgreement}" method="post">
            <input type="hidden" th:field="*{contractId}">
            <input type="hidden" name="employeeId" th:value="${loggedInUser.employeeId}">
            <input type="hidden" name="carId" th:value="${carId}">

            <div class="form-group">
                <label for="contractNumber">Kontrakt nummer:</label>
                <input type="text" id="contractNumber" th:field="*{contractNumber}" placeholder="Kontrakt nummer" title="Kontrakt nummer må kun indeholde tal" pattern="\d+" required>
            </div>
            <div class="form-group">
                <label for="pickupLocation">Afhentningssted:</label>
                <input type="text" id="pickupLocation" th:field="*{pickupLocation}" placeholder="Afhentningssted" required>
            </div>
            <div class="form-group">
                <label for="contractStartDate">Start dato:</label>
                <input type="date" id="contractStartDate" th:field="*{contractStartDate}" placeholder="Start dato" required>
            </div>
            <div class="form-group">
                <label for="contractEndDate">Slut dato:</label>
                <input type="date" id="contractEndDate" th:field="*{contractEndDate}" placeholder="Slut dato" required>
            </div>
            <div class="form-group">
                <label for="contractType">Kontrakt type:</label>
                <select id="contractType" th:field="*{contractType}">
                    <option value="Limited">Limited</option>
                    <option value="Unlimited">Unlimited</option>
                </select>
            </div>
            <div class="form-group">
                <label for="contractMonthlyFee">Månedlig betaling:</label>
                <input type="number" step="0.01" id="contractMonthlyFee" th:field="*{contractMonthlyFee}" placeholder="Månedlig betaling" required>
            </div>
            <div class="form-group">
                <label for="mileagePerMonth">Kilometer per måned:</label>
                <select id="mileagePerMonth" name="mileagePerMonth" th:field="*{mileagePerMonth}" required>
                    <option value="1500">1.500 km</option>
                    <option value="1750">1.750 km</option>
                    <option value="2000">2.000 km</option>
                    <option value="2500">2.500 km</option>
                    <option value="3000">3.000 km</option>
                    <option value="3500">3.500 km</option>
                    <option value="4000">4.000 km</option>
                    <option value="4500">4.500 km</option>
                </select>
            </div>
            <button type="submit" class="button">Tilføj</button>
        </form>
    </div>
</div>
</body>
</html>