<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Rental Agreement</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<div class="content">
    <div class="container small">
        <h1>Opdater lejekontrakt</h1>

        <form th:action="@{/rentalAgreements/update}" th:object="${rentalAgreement}" method="post" >
            <input type="hidden" th:field="*{contractId}" />
            <input type="hidden" name="employeeId" th:value="${rentalAgreement.employeeId}" />



            <div class="form-group">
                <label for="contractNumber">Kontrakt nummer</label>
                <input type="text" th:field="*{contractNumber}" id="contractNumber" title="Kontrakt nummer må kun indeholde tal" pattern="\d+" required>
            </div>
            <div class="form-group">
                <label for="pickupLocation">Afhentningssted</label>
                <input type="text" th:field="*{pickupLocation}" id="pickupLocation" required>
            </div>
            <div class="form-group">
                <label for="contractStartDate">Kontrakt start dato</label>
                <input type="date" th:field="*{contractStartDate}" id="contractStartDate" required>
            </div>
            <div class="form-group">
                <label for="contractEndDate">Kontrakt slut dato</label>
                <input type="date" th:field="*{contractEndDate}" id="contractEndDate" required>
            </div>
            <div class="form-group">
                <label for="contractType">Kontrakt type:</label>
                <select id="contractType" th:field="*{contractType}">
                    <option value="Limited">Limited</option>
                    <option value="Unlimited">Unlimited</option>
                </select>
            </div>
            <div class="form-group">
                <label for="contractMonthlyFee">Månedlig betaling</label>
                <input type="number" th:field="*{contractMonthlyFee}" id="contractMonthlyFee" required>
            </div>
            <div class="form-group">
                <label for="mileagePerMonth">Kilometer per måned:</label>
                <select id="mileagePerMonth" name="mileagePerMonth" th:field="*{mileagePerMonth}" required>
                    <option value="1500">1.500 km</option>
                    <option value="1750">1.750 km</option>
                    <option value="2000">2.000 km</option>
                    <option value="2500">2.500 km</option>
                    <option value="3000">3.000 km</option>
                    <option value="3500">3.500 km</option>
                    <option value="4000">4.000 km</option>
                    <option value="4500">4.500 km</option>
                </select>
            </div>
            <button type="submit">Opdater</button>
        </form>
    </div>
</div>
</body>
</html>