<div th:fragment="header">
    <head>
        <meta charset="UTF-8">
        <title>Ønskelisten</title>
        <link th:href="@{/css/header.css}" rel="stylesheet">
    </head>
    <body>
    <div class="header-container">
        <div class="left">
            <a class="logo" th:href="${session.loggedInUser != null ? '/' : '/'}">
                <img th:src="@{/images/Bilabonnementlogo.png}" alt="Home" class="logo">
            </a>
            <div class="navbar" th:if="${session.loggedInUser != null}">>
                <div class="dropdown">
                    <button class="navbarButton notSelectable">Biler</button>
                    <div class="dropdown-content">
                        <a th:href="@{/cars/create}" class="a">
                            <button class="navbarButton">Opret bil</button>
                        </a>
                        <a th:href="@{/cars/allCarsWithStatus}" class="a">
                            <button class="navbarButton">Oversigt biler</button>
                        </a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="navbarButton notSelectable">Lejekontrakter</button>
                    <div class="dropdown-content">
                        <a th:href="@{/cars/unrented}" class="a">
                            <button class="navbarButton">Klar til lejekontrakt</button>
                        </a>
                        <a th:href="@{/rentalAgreements}" class="a">
                            <button class="navbarButton">Oversigt lejekontrakter</button>
                        </a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="navbarButton notSelectable">Skadesrapport</button>
                    <div class="dropdown-content">
                        <a th:href="@{/readyForDamageReport}" class="a">
                            <button class="navbarButton">Klar til skadesrapport</button>
                        </a>
                        <a th:href="@{/listDamageReports}" class="a">
                            <button class="navbarButton">Oversigt skadesrapporter</button>
                        </a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="navbarButton notSelectable">Salg</button>
                    <div class="dropdown-content">
                        <a th:href="@{/registerSale}" class="a">
                            <button class="navbarButton">Registrer salg</button>
                        </a>
                        <a th:href="@{/soldCars}" class="a">
                            <button class="navbarButton">Solgte biler</button>
                        </a>
                        <a th:href="@{/pendingBuyer}" class="a">
                            <button class="navbarButton">Mangler opkøber</button>
                        </a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="navbarButton notSelectable">Transport</button>
                    <div class="dropdown-content">
                        <a th:href="@{/readyForTransport}" class="a">
                            <button class="navbarButton">Klar til transport</button>
                        </a>
                        <a th:href="@{/transportOverview}" class="a">
                            <button class="navbarButton">Transportoversigt</button>
                        </a>
                    </div>
                </div>
                <div class="dropdown" th:if="${session?.loggedInUser?.userType == 'Forretningsudvikler'}">
                <button class="navbarButton notSelectable">Økonomi og Statistik</button>
                    <div class="dropdown-content">
                        <a th:href="@{/business/economy}" class="a">
                            <button class="navbarButton">Økonomi</button>
                        </a>
                        <a th:href="@{/business/statistics}" class="a">
                            <button class="navbarButton">Statistik (KPI) </button>
                        </a>
                    </div>
                </div>
                <div class="dropdown" th:if="${session?.loggedInUser?.userType == 'Admin'}">
                    <button class="navbarButton notSelectable">Administrator</button>
                    <div class="dropdown-content">
                        <a th:href="@{/employee/register}">
                            <button class="navbarButton">Registrer ny bruger</button>
                        </a>
                        <a th:href="@{/employee/list}">
                            <button class="navbarButton">Oversigt Medarbejdere </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div th:if="${session.loggedInUser == null}">
                <a class="navbarButton selectable" th:href="@{/employee/login}">Login</a>
            </div>
            <div th:if="${session.loggedInUser != null}">
                <a class="navbarButton selectable" th:href="@{/employee/edit(username=${session.loggedInUser.username})}">Profil</a>
            </div>
            <div th:if="${session.loggedInUser != null}">
                <a class="navbarButton selectable" th:href="@{/employee/logout}">Log ud</a>
            </div>
        </div>
    </div>
    </body>
</div>
