<div th:fragment="header">
    <head>
        <meta charset="UTF-8">
        <title>Ønskelisten</title>
        <link th:href="@{/css/header.css}" rel="stylesheet">
    </head>
    <body>
    <div class="header-container">
        <div class="left">
            <a class="logo" th:href="${session.loggedInUser != null ? '/welcome' : '/'}">
                <img th:src="@{/images/Bilabonnementlogo.png}" alt="Home" class="logo">
            </a>
        </div>
        <div class="right">
            <div th:if="${session.loggedInUser == null}">
                <a th:href="@{/employeeLogin}">Login</a>
            </div>
            <div th:if="${session.loggedInUser != null}">
                <a th:href="@{/editEmployee}">Min profil</a>
                <a th:href="@{/logout}">Log ud</a>
            </div>
        </div>
    </div>
    </body>
</div>
