<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Administration Login</title>
  <link th:href="@{/css/employee/employeeLogin.css}" rel="stylesheet">
</head>
<body class="body">
<div th:replace="~{fragments/header.html :: header}"></div>

<div class="content">
  <div class="container">
    <div class="login-page">
      <div class="login-container">
        <form action="/employeeLogin" method="post" th:object="${employeeModel}">

          <h2>Administration Login</h2>
          <div class="input-group">
            <label for="username">Employee name:</label>
            <input type="text" id="username" placeholder="Employee name" th:field="*{username}" class="form-control my-3 p-4" required>
          </div>
          <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="*********" th:field="*{password}" class="form-control my-3 p-4" required>
          </div>
          <button type="submit" class="btn" data-qa="proceed-button">Login</button>
          <!-- Error message -->
          <p th:if="${loginError}" class="error-message" th:text="${loginError}"></p>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
