<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Employee</title>
  <link th:href="@{/css/employee/employeeList.css}" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

  <div class="container">
    <h2>Medarbejder liste</h2>

    <table class="employee-table">
      <thead>
      <tr>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Stilling</th>
        <th>Brugernavn</th>
        <th> </th>
      </tr>
      </thead>
      <tbody>

        <tr th:each="employee : ${List}" class="employee-row">
        <td th:text="${employee.firstname}"></td>
        <td th:text="${employee.lastname}"></td>
        <td th:text="${employee.userType}"></td>
        <td th:text="${employee.username}"></td>
        <td>


          <form th:action="@{/employee/edit}" method="post">
            <input type="hidden" name="username" th:value="${employee.username}" />
            <button type="submit" class="edit-button">Redigere</button>
          </form>




          <form th:action="@{/employee/delete}" method="post">
            <input type="hidden" name="username" th:value="${employee.username}" />
            <button type="submit" class="delete-button">Slet</button>
          </form>


        </td>
      </tr>
      </tbody>
    </table>

    <div class="button-container">
      <a th:href="@{/employee/register}" class="button">Registrer ny bruger</a>
      <a th:href="@{/employee/menu}" class="button home-link">Tilbage til menu</a>
    </div>
  </div>



</body>
</html>
