<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link th:href="@{/css/employee/menuEmployee.css}" rel="stylesheet">

</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>


<div class="menu-container">
  <h2>Menu</h2>
  <form action="/employee/menuEmployee" method="post">
    <button type="submit" name="action" value="registerNewEmployee">Register ny bruger</button>
    <button type="submit" name="action" value="editEmployee">Redigere bruger</button>
  </form>
</div>


</body>
</html>
