<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register Employee</title>
  <link th:href="@{/css/employee/registerNewEmployee.css}" rel="stylesheet">

</head>
<body>
<div class="content">
  <div class="container">
    <h2>Register new employee</h2>
    <form th:action="@{/registerNewEmployee}" th:object="${employeeModel}" method="post">

      <div class="form-group">
        <label for="firstname">First name:</label>
        <input type="text" id="firstname" th:field="*{firstname}" required />
      </div>
      <div class="form-group">
        <label for="lastname">Last name:</label>
        <input type="text" id="lastname" th:field="*{lastname}" required />
      </div>
      <div class="form-group">
        <label for="usertype">Usertype:</label>
        <select id="usertype" th:field="*{userType}" required>
          <option value="">Select Usertype</option>
          <option value="admin">Admin</option>
          <option value="employee">Employee</option>
          <option value="ansat?">Chef</option>
          <option value="Mekaniker">Mechanic</option>
        </select>
      </div>

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" th:field="*{username}" required />
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" required />
      </div>


      <div class="button-container">
        <button type="submit" class="button">Opret Bruger</button>
        <a href="/menuEmployee" class="button">Return to Menu</a>
      </div>
    </form>


  </div>
</div>
</body>
</html>
