<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opdater Medarbejder</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<div class="content">
    <div class="container small">
        <h1>Opdater Medarbejder</h1>

        <form th:action="@{/employee/update}" method="post" th:object="${employee}">
            <input type="hidden" th:field="*{employeeId}" />

            <div class="form-group">
                <label for="firstname">Fornavn:</label>
                <input type="text" id="firstname" name="firstname" th:field="*{firstname}" required />
            </div>
            <div class="form-group">
                <label for="lastname">Efternavn:</label>
                <input type="text" id="lastname" name="lastname" th:field="*{lastname}" required />
            </div>
            <div class="form-group">
                <label for="usertype">Stilling:</label>
                <select id="usertype" name="usertype" th:field="*{userType}" required>
                    <option value="">Vælg stilling</option>
                    <option value="Admin" th:selected="${employee.userType == 'Admin'}">Admin</option>
                    <option value="Lejeagent" th:selected="${employee.userType == 'Lejeagent'}">Lejeagent</option>
                    <option value="Skadesinspektør" th:selected="${employee.userType == 'Skadesinspektør'}">Skadesinspektør</option>
                    <option value="Forretningsudvikler" th:selected="${employee.userType == 'Forretningsudvikler'}">Forretningsudvikler</option>
                </select>
            </div>

            <div class="form-group">
                <label for="username">Brugernavn:</label>
                <input type="text" id="username" name="username" th:field="*{username}" required />
            </div>
            <div class="form-group">
                <label for="password">Adgangskode:</label>
                <input type="password" id="password" name="password" th:field="*{password}" required />
            </div>
            <div class="button-container">
                <button type="submit" class="btn">Gem ændringer</button>
                <a th:href="@{/employee/list}" class="button">Tilbage til medarbejderoversigten</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>
