.frontpage-background{
    background-color: #aaaaaa;
    background-image: url("../images/frontpage-background.jpg");
    background-size: cover;
}

.links-container {
    display: flex;
    justify-content: center;
}

.frontpage-container {
    margin-top: 15vw;
    background-color: transparent;
    box-shadow: none;
}

.frontpage-headline {
    color: #000000;
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5px;
    width: 18vw;
}

.btn-primary {
    margin-top: 5px;
    width: 10vw;
}

