<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<form action="#" th:action="@{/rentalAgreements}" th:object="${rentalAgreement}" method="post">
    <input type="hidden" th:field="*{contractId}">
    <input type="hidden" th:field="*{employeeId}">
    <select name="carId">
        <option th:each="car : ${allCars}" th:value="${car.carId}" th:text="${car.brand} + ' ' + ${car.model}"></option>
    </select>
    <input type="text" th:field="*{contractNumber}" placeholder="Contract Number" required>
    <input type="text" th:field="*{pickupLocation}" placeholder="Pickup Location" required>
    <input type="date" th:field="*{contractStartDate}" placeholder="Start Date" required>
    <input type="date" th:field="*{contractEndDate}" placeholder="End Date" required>
    <select th:field="*{contractType}">
        <option value="Limited">Limited</option>
        <option value="Unlimited">Unlimited</option>
    </select>
    <input type="number" step="0.01" th:field="*{contractMonthlyFee}" placeholder="Monthly fee" required>
    <input type="submit" value="Submit">
</form>
</body>
</html>