<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Velkommen</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/home.css}" rel="stylesheet"/>
</head>

<body class="frontpage-background">

<div th:replace="~{fragments/header.html :: header}"></div>

<div class="content">
    <div class="container frontpage-container">
        <h1 class="frontpage-headline"> Bilabonnement - Medarbejderportal</h1>
        <div class="links-container">
            <div th:if="${session.loggedInUser == null}">
                <form th:action="@{/employee/login}" method="get" style="display: inline;">
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div th:if="${session.loggedInUser != null}">
                <form th:action="@{/cars/search}" method="get" class="search-form">
                    <label for="query"></label>
                    <input type="text" id="query" name="query" placeholder="Søg efter stelnummer, bilmærke eller model" class="form-control">
                    <button type="submit" class="btn btn-primary">Søg</button>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
