<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Rental Agreement</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<div class="content">
    <div class="container">
        <h1>Update Rental Agreement</h1>

        <form th:action="@{/update/{id}(id=${rentalAgreement.contractId})}" th:object="${rentalAgreement}" method="post">
            <input type="hidden" th:field="*{contractId}" />
            <div class="form-group">
                <label for="contractNumber">Contract Number</label>
                <input type="text" th:field="*{contractNumber}" id="contractNumber" required>
            </div>
            <div class="form-group">
                <label for="pickupLocation">Pickup Location</label>
                <input type="text" th:field="*{pickupLocation}" id="pickupLocation" required>
            </div>
            <div class="form-group">
                <label for="contractStartDate">Contract Start Date</label>
                <input type="date" th:field="*{contractStartDate}" id="contractStartDate" required>
            </div>
            <div class="form-group">
                <label for="contractEndDate">Contract End Date</label>
                <input type="date" th:field="*{contractEndDate}" id="contractEndDate" required>
            </div>
            <div class="form-group">
                <label for="contractType">Contract Type</label>
                <input type="text" th:field="*{contractType}" id="contractType" required>
            </div>
            <div class="form-group">
                <label for="contractMonthlyFee">Contract Monthly Fee</label>
                <input type="number" th:field="*{contractMonthlyFee}" id="contractMonthlyFee" required>
            </div>
            <button type="submit">Update</button>
        </form>
    </div>
</div>
</body>
</html>