<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Bil</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

<div class="content">
    <div class="container">
        <h1>Tilføj ny bil til flåden</h1>

        <form th:action="@{/cars/add}" method="post" th:object="${car}">
            <div class="form-group">
                <label for="frameNumber">Stelnummer:</label>
                <input type="text" id="frameNumber" name="frameNumber" th:field="*{frameNumber}" th:required><br>
            </div>

            <div class="form-group">
                <label for="brand">Mærke:</label>
                <input type="text" id="brand" name="brand" th:field="*{brand}" th:required><br>
            </div>

            <div class="form-group">
                <label for="model">Model:</label>
                <input type="text" id="model" name="model" th:field="*{model}" th:required><br>
            </div>

            <div class="form-group">
                <label for="colour">Farve:</label>
                <input type="text" id="colour" name="colour" th:field="*{colour}" th:required><br>
            </div>

            <div class="form-group">
                <label for="gearType">Gear Type:</label>
                <input type="text" id="gearType" name="gearType" th:field="*{gearType}" th:required><br>
            </div>

            <div class="form-group">
                <label for="price">Pris:</label>
                <input type="number" step="0.01" id="price" name="price" th:field="*{price}" th:required><br>
            </div>

            <div class="form-group">
                <label for="registrationFee">Registreringsafgift:</label>
                <input type="number" step="0.01" id="registrationFee" name="registrationFee" th:field="*{registrationFee}" th:required><br>
            </div>

            <div class="form-group">
                <label for="emission">CO2 Emission:</label>
                <input type="number" step="0.01" id="emission" name="emission" th:field="*{emission}" th:required><br>
            </div>

            <div class="form-group">
                <label for="acquisitionDate">Anskaffelsesdato:</label>
                <input type="date" id="acquisitionDate" name="acquisitionDate" th:field="*{acquisitionDate}" th:required><br>
            </div>

            <button type="submit" class="btn">Tilføj bil</button>
        </form>
    </div>
</div>

</body>
</html>
