<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>All Cars</title>
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<h1>All Cars</h1>
<table>
  <tr>
    <th>Brand</th>
    <th>Model</th>
    <th>Colour</th>
    <th>Frame number</th>

  </tr>
  <tr th:each="car : ${cars}">
    <td th:text="${car.brand}"></td>
    <td th:text="${car.model}"></td>
    <td th:text="${car.colour}"></td>
    <td th:text="${car.frameNumber}"></td>

</table>
<a href="/rented">Show Rented Cars</a>
<a href="/unrented">Show Unrented Cars</a>
</body>
</html>