<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Status over flådens biler</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<div class="content">
    <div class="container">
        <h1>Status for alle flådens biler</h1>
        <table>
            <thead>
            <tr>
                <th>Stelnummer</th>
                <th>Mærke</th>
                <th>Model</th>
                <th>Farve</th>
                <th>Status</th>
                <th>Rediger/Slet Bil</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="carInfo : ${carsWithStatus}">
                <td th:text="${carInfo.frameNumber}">Stelnummer</td>
                <td th:text="${carInfo.brand}">Mærke</td>
                <td th:text="${carInfo.model}">Model</td>
                <td th:text="${carInfo.colour}">Model</td>
                <td th:text="${carInfo.statusType}">Status</td>
                <td>
                    <form th:action="@{/cars/showEditCarForm}" method="get" style="display: inline;">
                        <input type="hidden" name="frameNumber" th:value="${carInfo.frameNumber}" />
                        <button type="submit" class="btn btn-primary">Rediger</button>
                    </form>
                    <form th:action="@{/cars/deleteCar}" method="post" style="display: inline;" onsubmit="return confirm('Er du sikker på, at du vil slette denne bil?');">
                        <input type="hidden" name="frameNumber" th:value="${carInfo.frameNumber}" />
                        <button type="submit" class="btn btn-danger">Slet</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
