<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rented Cars</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<div class="content">
    <div class="container">
        <h1>Udlejede biler</h1>
        <table>
            <thead>
            <tr>
                <th>Stelnummer</th>
                <th>Mærke</th>
                <th>Model</th>
                <th>Kontrakt nummer</th>
                <th>Afhentningssted</th>
                <th>Kontrakt start dato</th>
                <th>Kontrakt slut dato</th>
                <th>Rediger/Slet lejekontrakt</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${rentedCars}">
                <td th:text="${car.frameNumber}">Frame Number</td>
                <td th:text="${car.brand}">Brand</td>
                <td th:text="${car.model}">Model</td>
                <td th:text="${car.contractNumber}">Contract Number</td>
                <td th:text="${car.pickupLocation}">Pickup Location</td>
                <td th:text="${car.contractStartDate}">Contract Start Date</td>
                <td th:text="${car.contractEndDate}">Contract End Date</td>
                <td>
                    <form th:action="@{/update}" method="get" style="display: inline;">
                        <input type="hidden" name="contractId" th:value="${car.contractId}" />
                        <button type="submit" class="btn btn-primary">Rediger</button>
                    </form>
                    <form th:action="@{/delete}" method="post" style="display: inline;" onsubmit="return confirm('Er du sikker på, at du vil slette denne kontrakt?');">
                        <input type="hidden" name="contractId" th:value="${car.contractId}" />
                        <input type="hidden" name="carId" th:value="${car.carId}" />
                        <button type="submit" class="btn btn-danger">Slet</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>