<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rented Cars</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<h1>Rented Cars</h1>
<table>
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Colour</th>
    </tr>
    <tr th:each="rentalAgreement : ${rentedCars}">
        <td th:text="${rentalAgreement.car.brand}"></td>
        <td th:text="${rentalAgreement.car.model}"></td>
        <td th:text="${rentalAgreement.car.colour}"></td>
    </tr>
</table>
<a href="/cars/all">Show All Cars</a>
<a href="/unrented">Show Unrented Cars</a>
</body>
</html>