<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unrented Cars</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<h1>Unrented Cars</h1>
<table>
    <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Colour</th>
    </tr>
    <tr th:each="car : ${unrentedCars}">
        <td th:text="${car.brand}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.colour}"></td>
    </tr>
</table>
<a href="/cars/all">Show All Cars</a>
<a href="rented">Show Rented Cars</a>
</body>
</html>