body {
  background: #edeff2;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Tilføj denne regel for at forhindre scrolling */
html, body {
  overflow: hidden;
}

.menu-container {
  background-color: #fff;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 40px;
}

button {
  width: 100%; /* Tilføj denne linje for at gøre knapperne ens i bredde */
  padding: 10px; /* Juster padding efter behov */
  background-color: #3696ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px; /* Tilføj denne linje for at skabe lidt afstand mellem knapperne */
}

button:hover {
  background-color: #0056b3;
  text-decoration: underline;
}
